.busPass {
    color: ivory;
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to bottom right, #db716e, #ca5a5a);
    height: 12rem;
    width: 93%;
    border-radius: 5px;
    justify-content: space-around;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 50%;
}

.couponImage {
    flex: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#knowMoreButton {
    width: 70%;
    height: 1.9rem;
    align-items: center;
    color: ivory;
    border-radius: 3px;
    border: solid 1px #495b83;
    background-color: #495b83;
    font-weight: 600;
    font-size: 0.7rem;
}

#introducingText {
    margin: 0.2rem 0;
    font-weight: 900;
    font-size: 0.9rem;
}

#busPassText {
    font-weight: 900;
    font-size: 1.1rem;
}

#saveMoreText {
    width: 70%;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
    font-weight: 300;
}

#busPassCouponImage {
    height: 11rem;
    width: 9rem;
    margin: 0.8rem 0 0 0.8rem;
}