.tabname {
    font-size: 0.6rem;
    color: rgb(93, 97, 102);
    margin: 0.4rem 0 0 0;
}

.tab {
    height: 3.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#tabImage {
    width: 1.4rem;
    height: 1.4rem;
}